p {
    margin: 0px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.main_container {

}

.info {
  display: flex;
  flex-direction: row;

  height: 40px;
  background-color: #e4e4e4;
  justify-content: space-between;
  align-items: center;
}

.info .phones div {
  display: inline-flex;
  margin: 10px;
}

.info .number {
    font-size: 18px;
    padding-left: 6px;
}

.info .call {
  font-size: 12px;
}

.info .media a {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  margin: 10px;
  text-decoration: none;
  color: #040404;
  font-size: 14px;
}

.media .pics {
    margin-right: 5px;
}

.panel {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e4e4e4;
  margin: 0px;
  padding: 10px;
}

.panel div {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
}

.panel .search {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #2a2a2a;
    height: 25px;
    width: 225px;
    background: url(/Img/Magnifier.png) no-repeat scroll 205px 7px;


}

.panel .logos div {
  display: inline-flex;
  flex-direction: row;
  margin-right: 20px;
}

.panel .amount ul {
    padding-left: 10px;
}

.panel .amount li {
  font-size: 12px;
  list-style-type: none;
}

nav {
  padding: 10px;
}

nav.menu li {
  display: inline;
  margin-right: 20px;
}

nav li.active {
  border-bottom: 3px solid #ff6c00;
  padding-bottom: 10px;
}

nav ul.categories {
    border-bottom: 1px solid #e4e4e4;
    padding-left: 0px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

nav ul.clothes {
    border-bottom: 1px solid #e4e4e4;
    font-size: 14px;
    padding-bottom: 14px;
    padding-left: 17px;
}

main {
  display: flex;
  flex-direction: column;
  padding-bottom: 31px;
}

main .firstLine {
  display: flex;
  flex-direction: row;
  padding-top: 70px;
  margin-bottom: 39px;
}

main .firstLine div {
  display: flex;
  flex-grow: 1;
  width: 495px;
  height: 10px;
}

main .firstLine .none {
  box-shadow: inset 0 -2px #d9d9d9;
}

main .firstLine .yourCart {
  width: 178px;
  justify-content: center;
  font-weight: bold;
  font-size: 22px;
}

.firstLine .yourCart p {
    display: flex;
    align-items: center;
}

table {
  display: flex;
  width: 1170px;

}

table th p {
  text-align: left;
  margin-left: 15px;
}
 th.Header p {
     text-align: center;
 }

table td {
  height: 176px;
  padding: 15px;

}

table td:nth-child(1) {
  width: 170px;
    padding-top: 50px;
}

table td:nth-child(2) {
  width: 297px;
}

td:nth-child(2) ul {
    padding-left: 0px;
}

td:nth-child(2) li {
  list-style-type: none;
}

td:nth-child(3)  {
  width: 277px;
  padding-top: 44px;
  vertical-align: text-top;
}

td:nth-child(3) .likeButtons  {
   display: flex;
   justify-content: center;
   align-items: flex-start;
}

td:nth-child(3) .Amount {
    margin-right: 10px;
    margin-left: 10px;
}

td:nth-child(4) {
  padding-top: 44px;
  vertical-align: text-top;
  width: 218px;
}

td:nth-child(5) {
  width: 195px;
  padding-top: 44px;
  vertical-align: text-top;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}


.ItemCode {
  color: #a2a2a2;
  margin-top: 21px;
  margin-bottom: 26px;
}

.ItemSize {
  font-weight: bold;
}

.ItemColour {
  font-weight: bold;
}

.ItemPrice {
  font-weight: bold;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

.AmountChange {
  color: #8d8d8d;
  cursor: pointer;
}

.cancel {
    cursor: pointer;
}

main .payment {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #d9d9d9;
  padding-top: 33px;
}

main .promoCode input {
  margin-top: 7px;
  margin-right: 20px;
  border: 1px solid #dadada;
  width: 277px;
  height: 45px;
}

main .promoCode button {
  background: #b7b7b7;
  border: 1px solid  #b7b7b7;
  height: 45px;
  width: 178px;
  border-radius: 30px;
  color: #fafafa;
}

main .makeOrder {
  display: flex;
  justify-content: space-between;
  width: 353px;
  line-height: 30px;
}

main .makeOrder .sum {
  color: #ff7611;
}

main .makeOrder .total {
  margin-top: 42px;
}

main .buttonWrapper  {
  display: flex;
  justify-content: flex-end;
}

main .button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff6c00;
  border: 1px solid #ff6c00;
  height: 45px;
  width: 178px;
  border-radius: 30px;
  color: #fafafa;
  margin-top: 32px;
}

main .line {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  margin-bottom: 39px;
}

main .line div {
  display: flex;
  flex-grow: 1;
  width: 426px;
  height: 10px;
}

main .line .empty {
  box-shadow: inset 0 -2px #d9d9d9;
}

main .line .add {
  width: 315px;
  justify-content: center;
  font-weight: bold;
  font-size: 22px;
}

.line .add p {
    display: flex;
    align-items: center;
}

main .additions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 102px;
  text-decoration: none;
}

main .additions .product {
  width: 277px;
  cursor: pointer;
}

main .product p {
  margin-top: 10px;
}

footer {
  background-color: #2a2a2a;
  max-height: 578px;
  color: #cacaca;
}

footer .networks {
  display: flex;
  height: 80px;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  width: 100%;
}

.networks a {
  margin: 7px;
}

footer .contacts {
  border-top: 1px solid #b2b2b2;
  border-bottom: 1px solid #b2b2b2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding:30px 0;
}

footer .logo {
    margin-top: 0px;
    vertical-align: text-top;
}

footer .phoneNumbers {
    margin-top: 0px;
    vertical-align: text-top;
}

footer .phoneNumbers li {
  list-style-type: none;
}

footer .phoneNumbers ul {
  margin: 0px;
  padding-left: 0px;
}

footer .numbers {
  font-size: 30px;
  font-weight: bold;
}

footer .call {
  font-size: 12px;
  padding-top: 6px;
  padding-bottom: 17px;
}

footer .footerColumn {
    margin-top: 0px;
}

footer .footerColumn a{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #b2b2b2;
  margin-top: 10px;
  max-width: 150px;
}

footer .footerColumn p {
  font-size: 18px;
  font-weight: bold;
}

footer .copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  padding: 35px 0;
}

footer .copyright p {
    margin: 0px;
}